name: Publish site
on:
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  publish-site:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'

      - name: Install Node.js dependencies
        run: npm ci

      - name: Build Tailwind CSS
        run: npm run tailwind

      - name: publish site
        uses: SamKirkland/FTP-Deploy-Action@a51268f67f6605236975928ae28b0f7e9971d50a # v4.3.6
        with:
          server: ${{secrets.FTP_URL}}
          username: ${{secrets.WWW_FTP_USERNAME}}
          password: ${{secrets.WWW_FTP_PASSWORD}}
          local-dir: ./src/
          server-dir: /
          port: 21
          protocol: ftps